body {
  background-color: darkgreen;
}

h1 { color: yellow;
     margin-left: 90px}

ig-tt {
  text-align: center;
  color: black;
  background-color:#ffa500;
  font-size: 45px;
  font-family: "Verdana,sans-serif"

}
