body {
  background-color: darkgreen;
}

h1 { color: yellow;
    }

video {  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%}

.ig {
  text-align: center;
  color: solid navy;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  left: 500px;
  height: 500px;
}

.tt {
  text-align: center;
  color: solid navy;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  left: 500px;
}
