.background {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  align-items: center;
  object-fit: fill;
}

.mainCard {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  background-color: #717171;
  width: 370px;
  height:400px;
  border-style: groove;
  border-width: thick;
  border-radius: 0.375rem 0.375rem 0.375rem 0.375rem;
  border-color: #000000;
  position: absolute;
  left: 40%;
  top: 170px;
  z-index: 1;
 
}

.cardContent {
  align-items: center;
  text-align: center;
  width: 370px;
  height:400px;
  
}

.tultaTitle {
  font-family: Andale Mono, monospace;
}

.hr01 {
  width: 300px;
  color: white;
}

.hr02 {
 width: 300px;
 color: white;
}

.iconTt {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 47px;
  height: 45px;
  position: relative;
  right: 45px;
  top: 20px; 
}

.iconIg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45px;
  height: 45px;
  position: relative;
  left: 10px;
  bottom: 25px
}

.mp3 {
position:relative;
top: 35px;
}
